/* H1 {
    margin-bottom: 35px;
    margin-bottom: 25px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
} */

H2 {
    margin-bottom: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}


H3 {
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}


H4 {
    margin-top: 16px;
    margin-bottom: 8px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

H5 {
    margin-top: 12px;
    margin-bottom: 4px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

H6 {
    margin-top: 8px;
    margin-bottom: 0px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

.list {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif !important;
    font-size: 28px !important;
}

.list .title {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif !important;
    font-size: 24px !important;
}

/* .footer .container {
    color: #666666;
    font-size: small;
} */

.list .title a {
    color: #428bca !important;
    text-decoration: none !important;
}

/* .footnotes {
    font-size: large;
} */

.footnotes p {
    margin: 10px 0;
}

#references {
    border-bottom: 1px dashed #FFA500;
    width: 50%;
    margin: 0;
}

[type=checkbox], [type=radio] {
    margin: 0 10px;
}

.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative
}

.img img {
  position: absolute;
  top:0;
  left:0;
}

.about-social {
    text-align: left;
}

.about-social li {
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

table td, table th {
    border: 1px solid #eee;
}

table thead tr th {
    color: #5A4C4C;
}

p {
    overflow-wrap: break-word;
}

/*
fontawesome minify
*/
@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}
.fa,.fab,.fad,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}
.fa-twitter:before {
    content: "\f099"
}
.fa-envelope:before {
    content: "\f0e0"
}
.fa-github:before {
    content: "\f09b"
}
.fa-rss:before {
    content: "\f09e"
}
.fa-telegram:before {
    content: "\f2c6"
}
.fa-weixin:before {
    content: "\f1d7"
}
.fa-zhihu:before {
    content: "\f63f"
}
.fa-calendar:before {
    content:"\f133"
}
.fa-clock:before {
    content:"\f017"
}
.fa-bars:before {
    content:"\f0c9"
}
.fa-folder:before {
    content:"\f07b"
}
.fa-tag:before {
    content:"\f02b"
}
.fab {
    font-family: "Font Awesome 5 Brands"
}
.fa,.far,.fas {
    font-family: "Font Awesome 5 Free"
}
.fa,.fas {
    font-weight: 900
}
.far {
    font-weight: 400
}

.badge {
    /* background-color: beige; */
    /* color: black; */
    display: inline-block;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    margin-left: -4px;
    margin-right: 20px;
    vertical-align: super;
}

.tag-cloud {
    margin-bottom: 15px;
    word-break: keep-all;
    display: flex;
    flex-flow: wrap;
}