/* H1 {
    margin-bottom: 35px;
    margin-bottom: 25px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
} */

H2 {
    margin-bottom: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}


H3 {
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}


H4 {
    margin-top: 16px;
    margin-bottom: 8px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

H5 {
    margin-top: 12px;
    margin-bottom: 4px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

H6 {
    margin-top: 8px;
    margin-bottom: 0px;
    /* border-bottom: 1px LightGrey solid; */
    width: 98%;
    line-height: 150%;
    color: #666666 !important;
}

.list {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif !important;
    font-size: 28px !important;
}

.list .title {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif !important;
    font-size: 24px !important;
}

/* .footer .container {
    color: #666666;
    font-size: small;
} */

.list .title a {
    color: #428bca !important;
    text-decoration: none !important;
}

/* .footnotes {
    font-size: large;
} */

.footnotes p {
    margin: 10px 0;
}

#references {
    border-bottom: 1px dashed #FFA500;
    width: 50%;
    margin: 0;
}

[type=checkbox], [type=radio] {
    margin: 0 10px;
}

.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative
}

.img img {
  position: absolute;
  top:0;
  left:0;
}

.about-social {
    text-align: left;
}

.about-social i {
    animation: animate 3s linear infinite;
    text-shadow: 0 0 60px #0072ff, 0 0 120px #0072ff, 0 0 170px #0072ff;
}

@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
}  

.about-social li {
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

table td, table th {
    border: 1px solid #eee;
}

table thead tr th {
    color: #5A4C4C;
}

p {
    overflow-wrap: break-word;
    letter-spacing: .5px;
}

/*
fontawesome minify
*/
/* @font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display:swap;src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.11.2/webfonts/fa-solid-900.svg#fontawesome) format("svg")
} */
@font-face {
    font-family: 'iconfont';  /* project id 2068085 */
    src: url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.eot');
    src: url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.woff') format('woff'),
    url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2068085_azmc2ixyt2r.svg#iconfont') format('svg');
}
.fa,.fab,.fad,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}
.fa-twitter:before {
    animation: animate 3s linear 0.5s infinite;
    content: '\e9b2';
}
.fa-youtube:before {
    animation: animate 3s linear 0.3s infinite;
    content: "\e601"; 
}
.fa-envelope:before {
    animation: animate 3s linear 1.3s infinite;
    content: "\e6eb";
}
.fa-github:before {
    animation: animate 3s linear infinite;
    content: "\e600";
}
.fa-rss:before {
    animation: animate 3s linear 1.5s infinite;
    content: "\e602";
}
.fa-telegram:before {
    animation: animate 3s linear 0.7s infinite;
    content: "\eaf9";
}
.fa-weixin:before {
    animation: animate 3s linear 0.9s infinite;
    content: "\e68b";
}
.fa-zhihu:before {
    animation: animate 3s linear 1.1s infinite;
    content: "\f276";
}
.fa-dev-to:before {
    animation: animate 3s linear infinite;
    content: "\e632";
}
.fa-jk:before {
    animation: animate 3s linear 1.2s infinite;
    content: "即刻";
    font-weight: 300;
}
li .fa-jk {
    transform: scale(0.7);
}
.about-social li:last-child {
    margin-left: -10px;
}
.fa-calendar:before {
    content:"\e9de";
}
.fa-clock:before {
    content:"\e6d3";
}
.fa-bars:before {
    content:"\e625";
}
.fa-folder:before {
    content:"\e671";
}
.fa-tag:before {
    content:"\e66c";
}
.fab {
    font-family: "iconfont"
}
.fa,.far,.fas {
    font-family: "iconfont"
}
.fa,.fas {
    font-weight: 900
}
.far {
    font-weight: 400
}

.badge {
    /* background-color: beige; */
    /* color: black; */
    display: inline-block;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    margin-left: -2px;
    margin-right: 12px;
    vertical-align: super;
}

.tag-cloud {
    margin-bottom: 15px;
    word-break: keep-all;
    display: flex;
    flex-flow: wrap;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: 0.6em;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media print {
    .navigation, .post-meta, footer, #article-info, .webpushr-toggle-bell-popup {
        display: none;
    }

    .post-title {
        text-align: center;
        font-family: "LXGW WenKai";
    }

    article {
        margin: 40px 40px;
    }

    h1,.article-content {
        font-family: "LXGW WenKai" !important;
    }

    .highlight pre {
        white-space: pre-wrap !important;
    }

    img {
        width: 100%;
        margin: auto;
    }

    .adsbygoogle {
        display: none !important;
    }
    div.notices {
        margin: 2rem 0;
        position: relative;
    }
    .notices p {
        padding: 15px;
        display: block;
        font-size: 1.1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        color: #666;
    }
    .notices p:first-child:before {
        position: absolute;
        top: 2px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        left: 10px;
    }
    .notices p:first-child:after {
        position: absolute;
        top: 2px;
        color: #fff;
        left: 2rem;
    }
    .notices.info p {
        border-top: 30px solid #F0B37E;
        background: #FFF2DB;
    }
    .notices.info p:first-child:after {
        content: 'Info';
    }
    .notices.warning p {
        border-top: 30px solid rgba(217, 83, 79, 0.8);
        background: #FAE2E2;
    }
    .notices.warning p:first-child:after {
        content: 'Warning';
    }
    .notices.note p {
        border-top: 30px solid #6AB0DE;
        background: #E7F2FA;
    }
    .notices.note p:first-child:after {
        content: 'Note';
    }
    .notices.tip p {
        border-top: 30px solid rgba(92, 184, 92, 0.8);
        background: #E6F9E6;
    }
    .notices.tip p:first-child:after {
        content: 'Tip';
    }
    
    .markmap > svg {
        width: 100%;
        height: 400px;
        border: 1px dashed #ccc;
        font-size: .3em;
        font-family: 'LXGW WenKai';
        @media only screen and (max-width : 768px) {
          height: 230px;
        }
    }

    .mermaid {
        width: 100%;
        height: auto;
        text-align: center;
        border: 1px dashed #ccc;
    }
}

#control {
	--color: #c04851;
	position: absolute;
}

#control::before{
	content: "分享书签";
	display: block;
	background-color: var(--color);
	color: #fff;
	font-weight: 100;
	font-size: 0.9em;
	width: max-content;
	border-radius: 10px;
	box-shadow: -16px 0 -1 #eee;
	display: inline;
	padding: 5px;
    will-change: filter;
	filter: drop-shadow(2px 4px 6px #666);
    font-family: "LXGW WenKai";
}

/* toast */
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    line-height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
}
#toast #desc{
    color: #fff;
    padding: 16px;
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}