<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{else}}
  <meta name="description" content="{{ block "description" . }}{{ .Site.Params.description }}{{ end }}">
  {{ end }}
  {{ if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  {{else}}
  {{ with .Site.Params.keywords }}
  <meta name="keywords" content="{{ . }}">{{ end }}
  {{ end }}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@BMPI11">
  <meta name="twitter:creator" content="@madawei2699">
  <meta name="twitter:title" content="{{ .Title }}"/>
  <meta name="twitter:description" content="{{ .Description }}"/>
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex">
  {{ end }}
  {{ if .Params.og_image }}
  <meta property="twitter:image" content="{{ .Params.og_image }}" />
  {{ else }}
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.og_image }}">
  {{ end }}

  <!-- Open Graph -->
  {{ template "_internal/opengraph.html" . }}
  {{ if .Params.og_image }}
  <meta property="og:image" content="{{ .Params.og_image }}" />
  {{ else }}
  <meta name="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.og_image }}">
  {{ end }}

  {{ partial "schema.html" . }}

  {{ if .Permalink }}
  <base href="{{ .Permalink }}">
  {{ end }}
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  {{ if .Permalink }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather:300,700%7CSource+Code+Pro:400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />

  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/coder.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/coder.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "css/coder.css" ) }}
  {{ $styles := resources.Get "scss/coder.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
    crossorigin="anonymous" media="screen" />
  {{ end }}

  {{ if .Site.Params.rtl }}
  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" ) }}
  {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
    crossorigin="anonymous" media="screen" />
  {{ end }}
  {{ end }}

  {{ if  or (eq .Site.Params.colorscheme "auto") (eq .Site.Params.colorscheme "dark") }}
  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/coder-dark.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "css/coder-dark.css" ) }}
  {{ $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
    crossorigin="anonymous" media="screen" />
  {{ end }}
  {{ end }}

  {{ if .Params.markmap.enabled }}
  <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader@0.1.2/dist/index.min.js"></script>
  <style>
    code[class*="language-"], pre[class*="language-"] {
      text-shadow: none !important;
      font-size: initial !important;
    }
  </style>
  {{ end }}

  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ . | relURL }}" />
  {{ end }}

  {{ range .Site.Params.custom_js }}
  <script src="{{ . | relURL }}" async></script>
  {{ end }}

  <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32x32.png" | absURL }}"
    sizes="32x32">
  <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16x16.png" | absURL }}"
    sizes="16x16">

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ hugo.Generator }}

  <meta name="baidu-site-verification" content="TiReu51WyJ" />

  {{ $tag_sass := resources.Get "scss/tagcloud.scss" }}
  {{ $tag_style := $tag_sass | toCSS }}
  <link rel="preload" href="{{ $tag_style.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ $tag_style.RelPermalink }}"></noscript>

  {{ if or (hasPrefix .RelPermalink "/dev/") (hasPrefix .RelPermalink "/en/dev/") (hasPrefix .RelPermalink "/self/") (hasPrefix .RelPermalink "/en/self/") (hasPrefix .RelPermalink "/money/") (hasPrefix .RelPermalink "/en/money/") }}
  <script defer src='https://platform-api.sharethis.com/js/sharethis.js#property=600a642fe0b9b900111a7f08&product=inline-share-buttons'></script>
  <link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/lxgwwenkai-regular.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/lxgwwenkai-regular.css"></noscript>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  {{ end }}

  {{ if eq .RelPermalink "/" }}
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
  <link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  {{ end }}
</head>

{{ $csClass := "colorscheme-light" }}
{{ if eq .Site.Params.colorscheme "dark" }}
{{ $csClass = "colorscheme-dark" }}
{{ else if eq .Site.Params.colorscheme "auto" }}
{{ $csClass = "colorscheme-auto" }}
{{ end }}

<body class="{{ $csClass }}{{ if .Site.Params.rtl }} rtl{{ end }}">
  <main class="wrapper">
    {{ partial "header.html" . }}

    <div class="content">
      {{ block "content" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}
  </main>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154678195-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-154678195-1');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- start webpushr code -->
  <script>(function(w,d, s, id) {w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('init','BHuwaXciWicBjh6HQS2tfudv6IYQD11K9u1NUj7nuaEV9NoDT7ns9JjgqyYTflUv-m3TlD7ELY84AHMfgmPXNgU');</script>
  <!-- end webpushr code -->

  {{ if eq .RelPermalink "/"}}
    <script>
      AOS.init({
        disable: 'mobile'
      });
    </script>
  {{end}}

  {{ if or (hasPrefix .RelPermalink "/dev/") (hasPrefix .RelPermalink "/en/dev/") (hasPrefix .RelPermalink "/self/") (hasPrefix .RelPermalink "/en/self/") (hasPrefix .RelPermalink "/money/") (hasPrefix .RelPermalink "/en/money/") }}
  <script src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
  <script>
    // init heti: https://github.com/sivan/heti
    const heti = new Heti('.heti p, li, a, h1, h2, h3, h4, h5, h6, .title');
    heti.autoSpacing(); // 自动进行中西文混排美化和标点挤压
    // init AOS: https://github.com/michalsnik/aos
    AOS.init({
      disable: 'mobile'
    });
  </script>
  {{ end }}

  {{ if .Params.isMermaidEnabled }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@8.14.0/dist/mermaid.min.js"></script>
  <script>
    // add mermaid: https://github.com/mermaid-js/mermaid
    let mermaidBlocks = document.querySelectorAll('code[data-lang=mermaid]');
    Array.prototype.forEach.call(mermaidBlocks, function(e) {
      let text = e.textContent;
      let mermaidDiv = document.createElement('div');
      mermaidDiv.className = 'mermaid';
      mermaidDiv.textContent = text;
      e.parentElement.replaceWith(mermaidDiv);
    });
    window.mermaid.mermaidAPI.initialize(
    window.mermaidOptions
      ? window.mermaidOptions
      : { securityLevel: "loose", theme: "base" });
  </script>
  {{ end }}

  {{ if .Params.markmap.enabled }}
  <script>
    // add markmap: https://github.com/gera2ld/markmap
    let markups = document.querySelectorAll('code[data-lang=markmap]');
    var i = 0;
    Array.prototype.forEach.call(markups, function(e) {
      let text = e.textContent;
      let markupDiv = document.createElement('div');
      markupDiv.className = 'markmap';
      markupDiv.textContent = text;
      markupDiv.id = 'markmap-' + '{{ .Params.markmap.id }}-' + i;
      e.parentElement.replaceWith(markupDiv);
      i++;
    });
  </script>
  {{ end }}

</body>

</html>
