# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
public/
nbproject/

# Vagrant
.vagrant/

# FE Setup
/node_modules/
/npm-debug.log.*
/npm-debug.log
/npm-debug.log*
/bower_components/
/dist/
/src/client.config.json
/styleguide/
/docs/

/junit.xml
partials/structure/stylesheet.html