{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
              {{ $minutes := math.Floor (div $readTime 60) }}
              {{ $seconds := mod $readTime 60 }}
              {{ $minutes }}:{{ $seconds }}
              <!-- {{ i18n "reading_time" .ReadingTime }} -->
            </span>
            {{ if eq .Site.Language.Lang "zh-cn" }}
            <span class="post-word-count"> | {{ .WordCount }} 字 | </span>
            <span id="post-views"></span> 次阅读
            {{ else }}
            <span class="post-word-count"> | {{ .WordCount }} words | </span>
            <span id="post-views"></span> views
            {{ end }}
          </div>
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="article">
        {{ $PATTERN_EMPTY_ALT := "<img src=\"([^\"]+)\" alt=\"([^\"]+)\">" }}
        {{ $PATTERN_ALT := "<img src=\"([^\"]+)\" alt=\"\">" }}
        {{ $REPLACEMENT := "<img data-src=\"$1\" alt=\"$2\" class=\"lazyload\" loading=\"lazy\"/>" }}
        {{ $outContent := .Content | replaceRE $PATTERN_EMPTY_ALT $REPLACEMENT | replaceRE $PATTERN_ALT $REPLACEMENT | safeHTML }}
        {{ $outContent }}

        <div style="text-align: center;color: darkgray;">
          {{ if eq .Site.Language.Lang "zh-cn" }}
          <p>本作品采用<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" style="color: darkgray;">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可</p>
          {{ else }}
          <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" style="color: darkgray;">CC BY-NC-ND 4.0</a></p>
          {{ end }}
        </div>

        <div style="border-bottom-style: dashed;border-bottom-style: inset;border-bottom-width: 2px;width: 50%;margin: 0 auto;"></div>
      </div>

      <footer>
        {{ partial "posts/related.html" . }}
        {{ partial "posts/share.html" . }}
        {{ partial "posts/subscribe.html" . }}
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utteranc.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
