<amp-springboard-player
        {{ with .site }}data-site-id="{{ . }}"{{ end }}
        {{ with .mode }}data-mode="{{ . }}"{{ end }}
        {{ with .content }}data-content-id="{{ . }}"{{ end }}
        {{ with .player }}data-player-id="{{ . }}"{{ end }}
        {{ with .domain }}data-domain="{{ . }}"{{ end }}
        {{ with .items }}data-items="{{ . }}"{{ end }}
        {{ with .layout }}layout="{{ . }}"{{ end }}
        {{ with .width }}width="{{ . }}"{{ end }}
        {{ with .height }}height="{{ . }}"{{ end }}>
</amp-springboard-player>