{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title" style="color: #519A73;">{{ .Title }}</h1>
    <div class="tag-cloud">
    {{ $series := $.Site.Taxonomies.series.ByCount }}
    {{ $v1 := where $series "Count" ">=" 1 }}
    {{ range $v1 }}
    {{ if .Term }}
    {{ $seriesURL := printf "%s" .Term }}
    <a href="{{ $seriesURL }}" class="font_size_6" role="button" style="text-transform: uppercase; color: #519A73; margin: 5px 5px;" >{{ .Term }} <span class="badge">{{ .Count }}</span></a>
    {{ end }}
    {{ end }}
    </div>
  </section>
{{ end }}
