body.rtl {
  .content {
    .post {
      .post-meta {
        .posted-on {
          margin-left: 1.5rem;
          margin-right: 0;
        }
      }
      .tags {
        color: #666666;
        font-size: large !important;
        @media only screen and (max-width : 768px) {
          font-size: small;
        }
      }
      .categories {
        color: #666666;
        font-size: large;
        @media only screen and (max-width : 768px) {
          font-size: small;
        }
        i {
          margin-left: 0.5rem;
          margin-right: 0;
        }
      }
    }
  }

  .list {
    ul {
      li {
        .date {
          color: #666666;
          font-size: large;
          text-align: left;
          margin-left: 3.0rem;
          margin-right: 0;
          @media only screen and (max-width : 768px) {
            text-align: right;
            font-size: small;
          }
        }
      }
    }
  }
}
