<amp-accordion>
    <section>
        <h2>Section 1</h2>
        <p>Bunch of awesome content</p>
    </section>
    <section>
        <h2>Section 2</h2>
        <div>Bunch of awesome content</div>
    </section>
    <section>
        <h2>Section 3</h2>
        <amp-img src="https://placehold.it/400x600" width="300" height="300"></amp-img>
    </section>
    <section>
        <h4>Section 3</h4>
        <p>Bunch of content.</p>
    </section>
    <section>
        <h4>Section 4</h4>
        <amp-accordion class="nested-accordion">
            <section>
                <h4>Nested Section 2.1</h4>
                <p>Bunch of content.</p>
            </section>
            <section>
                <h4>Nested Section 2.2</h4>
                <p>Bunch of more content.</p>
            </section>
        </amp-accordion>
    </section>
</amp-accordion>