<amp-pinterest {{ with .width }}width="{{ . }}"{{ end }}
               {{ with .height }}height="{{ . }}"{{ end }}
               {{ with .url }}data-url="{{ . }}"{{ end }}
               {{ with .media }}data-media="{{ . }}"{{ end }}
               {{ with .description }}data-description="{{ . }}"{{ end }}
               {{ with .count }}data-count="{{ . }}"{{ end }}
               {{ with .tall }}data-tall="{{ . }}"{{ end }}
               {{ with .tall }}data-height="tall"{{ end }}
               {{ with .round }}data-round="{{ . }}"{{ end }}
               data-do="buttonPin">
</amp-pinterest>