<amp-pinterest {{ with .width }}width="{{ . }}"{{ end }}
               {{ with .height }}height="{{ . }}"{{ end }}
               {{ with .profile }}data-href="{{ . }}"{{ end }}
               {{ with .label }}data-label="{{ . }}"{{ end }}
               {{ with .count }}data-count="{{ . }}"{{ end }}
               {{ with .tall }}data-tall="{{ . }}"{{ end }}
               {{ with .tall }}data-height="tall"{{ end }}
               {{ with .round }}data-round="{{ . }}"{{ end }}
               data-do="buttonFollow">
</amp-pinterest>