<amp-youtube
        {{ with .video }}data-videoid="{{ . }}"{{ end }}
        {{ with .autoplay }}autoplay{{ end }}
        {{ with .controls }}data-param-controls="1"{{ end }}
        {{ with .color }}data-param-color="{{ . }}"{{ end }}
        {{ with .disablekb }}data-param-disablekb="{{ . }}"{{ end }}
        {{ with .end }}data-param-end="{{ . }}"{{ end }}
        {{ with .fs }}data-param-fs="{{ . }}"{{ end }}
        {{ with .hl }}data-param-hl="{{ . }}"{{ end }}
        {{ with .list }}data-param-list="{{ . }}"{{ end }}
        {{ with .listType }}data-param-listType="{{ . }}"{{ end }}
        {{ with .loop }}data-param-loop="{{ . }}"{{ end }}
        {{ with .modestbranding }}data-param-modestbranding="{{ . }}"{{ end }}
        {{ with .playlist }}data-param-playlist="{{ . }}"{{ end }}
        {{ with .playsinline }}data-param-playsinline="{{ . }}"{{ end }}
        {{ with .rel }}data-param-rel="{{ . }}"{{ end }}
        {{ with .showinfo }}data-param-showinfo="{{ . }}"{{ end }}
        {{ with .start }}data-param-start="{{ . }}"{{ end }}
        {{ with .layout }}layout="{{ . }}"{{ end }}
        {{ with .width }}width="{{ . }}"{{ end }}
        {{ with .height }}height="{{ . }}"{{ end }}></amp-youtube>